
.App{
  .coutent1{
    width: fontSize2Rem(2272);
    height: fontSize2Rem(1276);
    background-image: url('./assets/lda-kv-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
  }
}